## [ Visual Studio ]
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo

## [ Build results ]
[Dd]ebug/
[Rr]elease/
x64/
x86/

## [ Temporary files ]
*.tmp
*.log

## [ NuGet Packages ]
*.nupkg
packages/

## [ User specific files ]
*.suo
*.user
*.userosscache
*.sln.docstates